#name {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 10px;
  left: 60px;
  width: calc(100% - 70px);
  height: 40px;
  font-size: 30px;
}

#desc {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 280px;
  width: 96%;
  height: 200px;
  overflow-wrap: break-word;
  font-size: large;
}

#btn-add-project-firestore {
  margin: 0;
  padding: 0;
  border: 0;
  /* border-radius: 10px; */
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: lime;
}