.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
}

.container {
  /* height: 100px; */
  justify-content: center;
}

input {
  font-size: 8vw;
  margin-left: 2ch;
  width: 18ch;
  height: 8vw;
  text-transform:uppercase;
  /* font-family: 'Poppins', sans-serif;   */
  font-family: 'Courier New', monospace;
  font-weight: bold;
  caret-color: transparent;
  border: none;
  letter-spacing: 2ch;
}

input:focus {
  outline: none;

}

#highlight-container {
  position: relative;
  width: 86%;
  height: 1.4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.highlight-on {
  width: 7vw;
  height: 1.4vw;
  background: #66f;
  transition: all 100ms;
}

.highlight-off {
  width: 7vw;
  height: 0.8vw;
  background: #888;
  transition: all 100ms;
}

button {
  margin: 40px 0 0 0;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  /* /* border-radius: 10px; */
}