.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
}

#div-equipment-container {
  margin: 0;
  padding: 0 0 40vh 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
}

.div-equipment {
  position: relative;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  height: fit-content;
  background-color: #666;
  margin-bottom: 4px;
  overflow-y: hidden;
  transition: min-height 0.2s, max-height 0.2s cubic-bezier(0.5, 0.75, 0.9, 1);
}

.div-equipment-active {
  max-height: 400px;
  min-height: 150px;  /* TODO This should be 100 if edit permission is not granted */
  transition: min-height 0.2s, max-height 0.5s ease;
}

.div-equipment-images {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: calc(100% + 6px);
  overflow-y: hidden;
}

.div-equipment-images img {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100px;
}

.btn-equipment-check-out {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 100px;
  height: 44px;
}

.btn-equipment-history {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 52px;
  right: 2px;
  width: 100px;
  height: 44px;
}

.btn-equipment-edit {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 102px;
  right: 2px;
  width: 100px;
  height: 44px;
}

.div-equipment-name {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  left: 110px;
  right: 110px;
  color: #fff;
  overflow-y: hidden;
  font-size: 20px;
}

.div-equipment-desc {
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  left: 110px;
  width: calc(100% - 220px);
  height: auto;
  color: #fff;
  overflow-y: hidden;
}

#btn-equipment-add {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
}

#btn-add-equipment-firestore {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10%;
  bottom: 40px;
  width: 80%;
  height: 40px;
}