
#div-images {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 0;
  width: 96%;
  height: 180px;
  overflow: hidden;
}

#div-images img {
  height: 100%;
}

label {
  cursor: pointer;
  background-color: azure;
  margin: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 180px;
  width: 96%;
  height: 40px;
  text-align: center;
  background-color: aqua;
}

#images {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#name {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 230px;
  width: 96%;
  height: 40px;
}

#desc {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 280px;
  width: 96%;
  height: 120px;
  overflow-wrap: break-word;
}

#btn-add-equipment-firestore {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  left: 2%;
  top: 420px;
  width: 96%;
  height: 40px;
}