.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
}

.container {
  /* height: 100px; */
  justify-content: center;
}

input {
  width: 100%;
  height: 46px;
  font-family: 'Poppins', sans-serif;  
  font-size: 40px;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #888;
}

input:focus {
  outline: none;
}

button {
  margin: 40px 0 0 0;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  /* border-radius: 10px; */
}