
#canvas {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
}

#change-camera {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2%;
  bottom: 100px;
  width: 96%;
  height: 40px;
}

#loading-message {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100vw;
  height: 40px;
}

#div-found-equipment {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2%;
  top: 40%;
  width: 96%;
  height: 120px;
  font-size: 40px;
  text-align: center;
  background-color: azure;
}

#title-found-equipment {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2%;
  top: 10px;
  width: 96%;
  height: 120px;
  font-size: 40px;
  text-align: center;
}

#btn-confirm-found-equipment {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2%;
  bottom: 10px;
  width: 46%;
  height: 40px;
  text-align: center;
}

#btn-deny-found-equipment {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2%;
  bottom: 10px;
  width: 46%;
  height: 40px;
  text-align: center;
}