.middle-panel {
  background-color: #444;
  position: absolute;
  top: 10vh;
  left: 4vw;
  width: 92vw;
  height: 60vh;
  border-radius: 14px;
}

#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#qr-code {
  margin: 0;
  padding: 0;
  border: 0;
  /* border-radius: 10px; */
  width: 70%;
  height: 40px;
  background-color: lime;
  font-size: 20px;
  
}