.middle-panel {
  background-color: #444;
  position: absolute;
  top: 10vh;
  left: 4vw;
  width: 92vw;
  height: 60vh;
  border-radius: 14px;
}

#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}