html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif;  
}

header {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: #bbb;
}

button {
  font-family : inherit;
  font-size: 1em;
}

.loader {
  position: absolute;
  left: calc(50% - 28px);
  top: calc(50% - 28px);
  border: 8px solid #eee; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#title {
  margin: 0; padding: 0; text-align: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: black;
}

.btn-top-left {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 8px;
  position: fixed;
  top: 6px;
  left: 6px;
  width: 36px;
  height: 36px;
}

.btn-top-right {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 8px;
  position: fixed;
  top: 6px;
  right: 6px;
  width: 36px;
  height: 36px;
}

.btn-menu {
  width: 200px;
  height: 40px;
}

.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  bottom: 60px;
}

#base-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: flex;
}

.btn-base-menu {
  margin: 0;
  padding: 0;
  border: 0;
  width: max-content;
  height: 60px;
  flex: 1;
  text-align: center;
  line-height: 60px;
  font-size: large;
  background-color: aqua;
}

.btn-base-menu img {
  margin-top: 14px;
  width: 30px;
  height: 30px;
}

.hidden {
  display: none;
}

.item-container {
  margin: 0;
  padding: 0 0 6px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
}

.item {
  margin: 6px 0 0 0;
  padding: 0;
  border: 0;
  border-radius: 8px;
  position: relative;
  left: 6px;
  width: calc(100% - 12px);
  height: 100px;
  overflow-y: hidden;
  background-color: #ddd;
}


.item img {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  overflow-y: hidden;
  object-fit: cover;
}

.item-right {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  color: #66f;
  text-align: center;
  pointer-events: none;
}

.item-name {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  left: 110px;
  width: calc(100% - 220px);
  color: #000;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}

.item-desc {
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  bottom: 0;
  left: 110px;
  width: calc(100% - 220px);
  color: #000;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  pointer-events: none;
  font-size: 15.5px;
}